* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .3s;
}

html, body {
  height: 100%;
  background: rgba(21,20,18,1);
  color: #ddd;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Open-sans', helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h1 a {
  color: inherit;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: blue;
  text-decoration: none;
	cursor: pointer;
}

a:hover, a:active {
  color: blue;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: gray;
}

/* Specify the color of the selection */
::-moz-selection {
  color: black;
  background: lightGray;
}

::selection {
  color: black;
  background: lightGray;
}

/* HEADER STYLE */

#hero {
  position: relative;
  background-image: var(--background);
  background-size: cover;
  height: 100%;
  padding: 20px;
  margin-bottom: 80px;
  /* outline: 15px solid rgb(70,30,30); */
}

#container {
  position: absolute;
  background: rgba(10,10,10,0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* box-shadow: inset 0px 0px 15px 5px rgb(170, 70, 70); */
}

header {
  position: fixed;
  width: 100%;
  padding: 20px;
  font-size: 120%;
  height: auto;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.site-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  opacity: 0.8;
  filter: contrast(120%);
}

.site-avatar img {
  border-radius: 5px;
}

.site-info {
  float: left;
}

.site-name {
  margin: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Poppins', 'helvetica', sans-serif;
  font-weight: 600;
  font-size: 140%;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  font-size: 16px;
}

nav {
  float: right;
  margin-top: 23px;
  font-family: 'helvetica', sans-serif;
  font-size: 18px;
}

nav a {
  margin-left: 20px;
  color: darkGray;
  text-align: right;
  font-weight: 300;
  letter-spacing: 1px;
}

header.scrolled {
  padding: 0px 20px 0px 0px;
  background: rgba(21,20,18,1);
}

header.scrolled .site-left .site-info .site-description {
  font-size: 0;
  margin: 0;
}

header.scrolled .site-left .site-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 46px;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  font-size: 300%;
  text-align: center;
  transition: transform .3s ease;
}

#title h1 {
  font-size: 200%;
  margin: 0;
  line-height: 1.2;
}

#title p {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin: 0;
  color: #bbb;
}

@media (max-width: 800px) {
  #container, #hero {
    height: 400px;
  }

  #title {
    font-size: 150%;
    margin-top: 50px;
  }
}

@media (max-width: 501px) {
  nav {
    display: none;
  }
}

/* CANVA STYLES */

.canva {
  top: 0px;
  left: 0px;
  margin: 40px 0;
  padding: 20px;
  min-height: 500px;
  background: #222;
  border-radius: 12px;
  color: #faa;
  z-index: 2;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
}

.fullscreen {
  z-index: 5;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;

  margin: 0;
  border-radius: 0;
}

.canva img {
  position: absolute;
  bottom: 12px;
  right: 12px;
  filter: invert();
  width: 40px;
  cursor: pointer;
}
